# .gitignore

# Virtual environment files
venv/
veribot-env/
__pycache__/

# Python cache
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs and database files
*.log
*.sqlite3

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Deployment and dependencies
node_modules/

# Ignore compiled code
*.so
*.dll
*.dylib

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
.coverage
htmlcov/
.coverage.*

# Ignore secret keys
config.json